<a href="https://colab.research.google.com/github/david132313/JavaCoding/blob/main/Homework2_2025_Summer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Requirement of Submission
1. Please directly write your code in this file and submit your `.ipynb` file to Brightspace. Do NOT accept `.py` files.
2. NO extended deadline.
3. Please check your answers before the submission.

# Homework 2

## 1.

Write down all the methods/functions we have learned in Pandas Module.

##  2

Take the file **weight-height.csv** which can be found in the Google Drive folder and read it into a Pandas DataFrame.

Using the pandas cut method, bin the **weights of women** into the following groups:

less than 100 pounds, 100-130, 130-160, 160-190, and over 190.

Then use value_counts to find how many weights fall into each bin.

## 3

A company stores its sales data into three CSV files. "customer.csv", "products.csv", and "sales.csv", can be found in the Google Drive folder and read them into Pandas DataFrames.

"customer.csv" -> DataFrame "customer_df"\
"products.csv" -> DataFrame "products_df"\
"sales.csv" -> DataFrame "sales_df"

(1) Get the general information of ```sales_df```. Then change the column names of ```sales_df``` to uppercase letters. Then change 'C_ID' and 'P_ID' to 'CUSTOMER_ID' and 'PRODUCT_ID', respectively. (10%)

(2) In ```sales_df```, find the total sold quantity for each product. Show 3 columns, 'PRODUCT', 'PRODUCT_ID', and 'QTY'.

(3) In `sales_df`, find the total sold quantity for each product in each store. Show 4 columns, 'PRODUCT', 'PRODUCT_ID', 'STORE' and 'QTY'.

(4) In ```sales_df``` and ```products_df```, find the total sales for each product. Show 2 columns, 'PRODUCT_ID' and 'Total_sale' (Total_sale = quantity * price/piece).

(5) In ```sales_df``` and ```products_df```, find the total sales in each store. Show 3 columns, 'STORE', 'QTY', and 'store_sales'.

(6) In ```sales_df``` and ```products_df```, find the products which are not sold yet.  Show 'PRODUCT_ID' and 'product'.

(7) In ```sales_df``` and ```customers_df```, find the customers who have not purchased any product. Show 2 columns "CUSTOMER_ID" and "Customer".

(8) In `products_df`, swap the first row and the last row. Swap the first column and the last column.

(9) Delete the column 'PRODUCT' in sales_df.

## 4

 There is an excel file `stu_excel.xlsx` in the data folder.

(1) Read the content in this file to a dataframe `df_stu`

(2) Remove the first column. Replace all the nulls to empty string ''.

(3) In column `Grade`, there is one missing `Grade` for `Algorithms`. Replace that cell with the mean grade of Algorithms.